#team {
  text-align: center;
  color: #535353;
  background-color: #f7f7f7;
  font-family: "Roboto Condensed", sans-serif;
}
#team h5 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #0088cc;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#team h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 599;
  color: #6c757d;
  line-height: 1.2;
  max-width: 650px;
  margin: 0 auto 1rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
#team p.desc {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: "Roboto Condensed", sans-serif;
}
#team img {
  max-width: 100%;
  height: auto;
}
#team ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover {
  text-decoration: none;
}
.designation {
  font-size: 17px;
}
.team-social li {
  display: inline-block;
}
.team-social li a {
  font-size: 14px;
  color: #18191d;
  height: 38px;
  width: 38px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #fff;
}
.team-img {
  position: relative;
}

.team-coverflow {
  position: relative;
  overflow: hidden;
  padding: 20px 20px 0 20px;
  width: 100%;
  max-width: 370px;
  margin-left: -20px;
  background: #fff !important;
}
.team-coverflow .team-text {
  text-align: center;
  font-size: 14px;
  padding: 2rem 0 2.5rem 0;
}
.team-coverflow .team-text h4 {
  font-size: 1.7rem;
}

.swiper-slide-active .team-coverflow:hover .team-box-content {
  opacity: 1;
  visibility: visible;
  border-radius: 0;
  bottom: 0;
}
.team-box-content {
  background-color: #0088cc;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  padding: 20px 0;
  bottom: -20%;
  z-index: 1;
  transition: all linear 0.4s;
}
.team-coverflow .team-img {
  overflow: hidden;
  width: 100%;
}
.swiper-slide-active .team-coverflow:hover img {
  transform: scale(1.1);
}
/* .team-progress {
  padding-bottom: 1rem;
}
.team-progress .progress-item:not(:last-child) {
  margin-bottom: 1.7rem;
}
.team-progress .progress {
  height: 12px;
  margin-top: 12px;
  overflow: hidden;
  border-radius: 50px;
  background-color: #eaeaea;
}
.team-progress .progress-item .count {
  font-weight: 500;
}
.team-progress .progress-bar {
  height: 100%;
  border-radius: 50px;
  background: #f1c30f;
} */
.w-77 {
  width: 77% !important;
}
.w-82 {
  width: 82% !important;
}
.w-93 {
  width: 93% !important;
}
.team-member-slider {
  padding-bottom: 165px;
}
.swiper-button-next,
.swiper-button-prev {
  background-image: none;
}
.slider-arrows {
  border-radius: 50px;
  background: #0088cc;
  color: white !important;
  font-weight: bold;
  width: 45px;
  line-height: 45px;
  transition: 1s;
  border: 4px solid #0088cc;
}
.team-member-slider .swiper-slide-next {
  transform: scale(1.1) translate3d(-25%, 0px, -155.962px) rotateX(0deg)
    rotateY(-2.9808deg) !important;
  paddin-left: 15px;
  cursor: pointer;
}
.team-member-slider .swiper-slide-prev {
  transform: scale(1.1) translate3d(25%, 0px, -155.962px) rotateX(0deg)
    rotateY(-2.9808deg) !important;
  paddin-left: 15px;
  cursor: pointer;
}
.team-member-slider .swiper-slide-active {
  transform: translateY(25%) !important;
  transition: 300ms;
  opacity: 1 !important;
}
.team-member-slider .swiper-slide {
  opacity: 0.5;
}
