<<<<<<< HEAD
/* Add here all your CSS customizations */

.center {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 20px;
  height: 500px;
  /* background-image: url(img/landing/header_bg.jpg);
  background-size: auto; */
}
.welcome {
  margin-left: 150px;
  text-shadow: white;
  font-size: 100px;
  font-style: italic;
  font-weight: 150;
}
@media (max-width: 992px) {
  .welcome {
    margin-left: 0px;
    font-size: 50px;
  }
  /* .center {
    height: 580px;
  } */
}
=======
/* Add here all your CSS customizations */

.center {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 20px;
  height: 500px;
  /* background-image: url(img/landing/header_bg.jpg);
  background-size: auto; */
}
.welcome {
  margin-left: 150px;
  text-shadow: white;
  font-size: 100px;
  font-style: italic;
  font-weight: 150;
}
@media (max-width: 992px) {
  .welcome {
    margin-left: 0px;
    font-size: 50px;
  }
  /* .center {
    height: 580px;
  } */
}
>>>>>>> 2bc978e6c8a3c3698e426295656e57cea56aec9c
